COMPUTER_API_KEY=REPLACE_ME
PORT=3600
JOBS_ROOT=/srv/swayambhu/jobs
COMPUTE_ENABLE_EXECUTE=0
COMPUTE_MAX_BODY_BYTES=262144
COMPUTE_MAX_WAIT_SECONDS=300
COMPUTE_MAX_OUTPUT_BYTES=1048576
DEEP_REFLECT_RUNNER=/usr/local/bin/sway-deep-reflect-runner
DEEP_REFLECT_MAX_CONCURRENT=1
